<div class="categoryAge">
	<div class="row">
		<div class=".col-md-12">
			<button class="btn btn-primary btn-block" type="submit" ng-click="selectCategoryAge()">Actif et moins de 30 ans?</button>
		</div>
	</div>
	<div class="row">
		<div class=".col-md-12">
			<button class="btn btn-success btn-block" type="submit" ng-click="selectCategoryAge()">Cadre actif<br />30 à 35 ans?</button>
		</div>
	</div>
	<div class="row">
		<div class=".col-md-12">
			<button class="btn btn-danger btn-block" type="submit" ng-click="selectCategoryAge()">Cadre expérimenté<br />plus de 35 ans?</button>
		</div>
	</div>
	<div class="row">
		<div class=".col-md-12">
			<button class="btn btn-default btn-block" type="submit" ng-click="selectCategoryAge()">Dirigeant?</button>
		</div>
	</div>
	</div>
</div>