<div class="categoryAge">
	<div class="row">
		<div class=".col-md-12">
			<button class="btn btn-primary btn-block" type="submit" ng-click="selectCategoryAge()">Actif et moins de 30 ans</button>
		</div>
		<div class=".col-md-12">
			<button class="btn btn-success btn-block" type="submit" ng-click="selectCategoryAge()">Cadre actif 30 à 42 ans</button>
		</div>
		<div class=".col-md-12">
			<button class="btn btn-danger btn-block" type="submit" ng-click="selectCategoryAge()">Cadre expérimenté 42 à 55 ans</button>
		</div>
		<div class=".col-md-12">
			<button class="btn btn-default btn-block" type="submit" ng-click="selectCategoryAge()">Plus de 55 ans</button>
		</div>
	</div>
<!--	<div class="row">
		<div class=".col-md-12">
			<button class="btn btn-success btn-block" type="submit" ng-click="selectCategoryAge()">Cadre actif 30 à 35 ans</button>
		</div>
	</div>
	<div class="row">
		<div class=".col-md-12">
			<button class="btn btn-danger btn-block" type="submit" ng-click="selectCategoryAge()">Cadre expérimenté plus de 35 ans</button>
		</div>
	</div>
	<div class="row">
		<div class=".col-md-12">
			<button class="btn btn-default btn-block" type="submit" ng-click="selectCategoryAge()">Dirigeant</button>
		</div>
	</div>-->
	</div>
</div>