<div id="game-board">
	<div class="game-piece" id="piece"></div>

	<table class="plateau">
		<tr>
			<td><div class="game-tile game-tile-horiz tile-start" id="tile1">1</div></td>
			<td><div class="game-tile game-tile-horiz tile-quote" id="tile2">2</div></td>
			<td><div class="game-tile game-tile-horiz tile-house" id="tile3">3</div></td>
			<td><div class="game-tile game-tile-horiz tile-thumbup" id="tile4">4</div></td>
			<td><div class="game-tile game-tile-horiz tile-danger" id="tile5">5</div></td>
			<td><div class="game-tile game-tile-l2b tile-tax" id="tile6">6</div></td>
		</tr>
		<tr>
			<td><div class="game-tile game-tile-r2b tile-doubts" id="tile22">22</div></td>
			<td><div class="game-tile game-tile-horiz tile-quizz" id="tile23">23</div></td>
			<td><div class="game-tile game-tile-horiz tile-quizz" id="tile24">24</div></td>
			<td><div class="game-tile game-tile-horiz tile-burned" id="tile25">25</div></td>
			<td><div class="game-tile game-tile-l2b tile-quizz" id="tile26">26</div></td>
			<td><div class="game-tile game-tile-vert tile-police" id="tile7">7</div></td>
		</tr>
		<tr>
			<td><div class="game-tile game-tile-vert tile-hurt" id="tile21">21</div></td>
			<td><div class="game-tile game-tile-r2b tile-burned" id="tile36">36</div></td>
			<td><div class="game-tile game-tile-horiz tile-estate" id="tile37">37</div></td>
			<td><div class="game-tile game-tile-l2b tile-tax" id="tile38">38</div></td>
			<td><div class="game-tile game-tile-vert tile-estate" id="tile27">27</div></td>
			<td><div class="game-tile game-tile-vert tile-quizz" id="tile8">8</div></td>
		</tr>
		<tr>
			<td><div class="game-tile game-tile-vert tile-estate" id="tile20">20</div></td>
			<td><div class="game-tile game-tile-vert tile-quizz" id="tile35">35</div></td>
			<td><div class="game-tile game-tile-vert tile-win" id="tile42">WIN</div></td>
			<td><div class="game-tile game-tile-vert tile-quizz" id="tile39">39</div></td>
			<td><div class="game-tile game-tile-vert tile-quizz" id="tile28">28</div></td>
			<td><div class="game-tile game-tile-vert tile-retire" id="tile9">9</div></td>
		</tr>
		<tr>
			<td><div class="game-tile game-tile-vert tile-quizz" id="tile19">19</div></td>
			<td><div class="game-tile game-tile-vert tile-epargne" id="tile34">34</div></td>
			<td><div class="game-tile game-tile-r2t tile-quote" id="tile41">41</div></td>
			<td><div class="game-tile game-tile-l2t tile-travel" id="tile40">40</div></td>
			<td><div class="game-tile game-tile-vert tile-health" id="tile29">29</div></td>
			<td><div class="game-tile game-tile-vert tile-quizz" id="tile10">10</div></td>
		</tr>
		<tr>
			<td><div class="game-tile game-tile-vert tile-quote" id="tile18">18</div></td>
			<td><div class="game-tile game-tile-r2t tile-retire" id="tile33">33</div></td>
			<td><div class="game-tile game-tile-horiz tile-tax" id="tile32">32</div></td>
			<td><div class="game-tile game-tile-horiz tile-quote" id="tile31">31</div></td>
			<td><div class="game-tile game-tile-l2t tile-danger" id="tile30">30</div></td>
			<td><div class="game-tile game-tile-vert tile-house" id="tile11">11</div></td>
		</tr>
		<tr>
			<td><div class="game-tile game-tile-r2t tile-retire" id="tile17">17</div></td>
			<td><div class="game-tile game-tile-horiz tile-house" id="tile16">16</div></td>
			<td><div class="game-tile game-tile-horiz tile-quizz" id="tile15">15</div></td>
			<td><div class="game-tile game-tile-horiz tile-car" id="tile14">14</div></td>
			<td><div class="game-tile game-tile-horiz tile-quote" id="tile13">13</div></td>
			<td><div class="game-tile game-tile-l2t tile-tax" id="tile12">12</div></td>
		</tr>
	</table>
</div>

<div class="diceroll">
	<div class="dicewait" id="dicewait" ng-click="Game.doPlay(Game.forceValue)">Lancer le dé</div>
	<div class="dice" id="dice"></div>
</div>

<div id="game-card">
	Action
</div>