/* Board */
	#game-board{
		position:			relative;
		padding:				10px;
	}

	.plateau{
		width:				100%;
		table-layout:		fixed;
		border-collapse:	collapse;
	}

	.plateau td{
		border:				0;
		padding:			0;
		margin:				0;
	}

/* Board tiles */
	.game-tile{
		height:				60px;
		width:				100%;
		background-repeat:	no-repeat;
		background-size:	40px;
		background-position: center center;
		background-color:	#F0F0CC;
		box-sizing:			border-box;
		text-align:			center;
		line-height:		60px;
		font-size:			10px;
		font-weight:		bold;
		font-family:		Sans-Serif;
		position:			relative;
		color:				rgba(0,0,0,0);
	}
	
	.game-tile-horiz{
		border:				1px #777777 solid;
		border-left:		0;
		border-right:		0;
	}

	.game-tile-vert{
		border:				1px #777777 solid;
		border-top:			0;
		border-bottom:		0;
	}

	.game-tile-l2b{
		border:				1px #777777 solid;
		border-left:		0;
		border-bottom:		0;
		border-top-right-radius: 50%;
	}

	.game-tile-l2t{
		border:				1px #777777 solid;
		border-left:		0;
		border-top:			0;
		border-bottom-right-radius: 50%;
	}

	.game-tile-r2b{
		border:				1px #777777 solid;
		border-right:		0;
		border-bottom:		0;
		border-top-left-radius: 50%;
	}

	.game-tile-r2t{
		border:				1px #777777 solid;
		border-right:		0;
		border-top:			0;
		border-bottom-left-radius: 50%;
	}
	
	.tile-win{
		border-top-left-radius: 50%;
		border-top-right-radius: 50%;
	}
	
/* Tiles */
	.tile-start{	background-image: url('../img/tiles/start.png');	}
	.tile-quizz{	background-image: url('../img/tiles/quizz.png');	}
	.tile-quote{	background-image: url('../img/tiles/quote.png');	}
	.tile-retire{	background-image: url('../img/tiles/retire.png');	}
	.tile-estate{	background-image: url('../img/tiles/estate.png');	}
	.tile-health{	background-image: url('../img/tiles/health.png');	}
	.tile-police{	background-image: url('../img/tiles/police.png');	}
	.tile-burned{	background-image: url('../img/tiles/burned.png');	}
	.tile-car{	background-image: url('../img/tiles/car.png');	}
	.tile-win{	background-image: url('../img/tiles/win.png');	}
	.tile-accident{	background-image: url('../img/tiles/accident.png');	}
	.tile-hurt{	background-image: url('../img/tiles/hurt.png');	}
	.tile-tax{	background-image: url('../img/tiles/tax.png');	}
	.tile-travel{	background-image: url('../img/tiles/travel.png');	}
	.tile-epargne{	background-image: url('../img/tiles/epargne.png');	}
	.tile-danger{	background-image: url('../img/tiles/danger.png');	}
	.tile-doubts{	background-image: url('../img/tiles/doubts.png');	}
	.tile-house{	background-image: url('../img/tiles/house.png');	}
	.tile-thumbup{	background-image: url('../img/tiles/thumbup.png');	}
	.tile-prison{	background-image: url('../img/tiles/prison.png');	}
	
/* Pieces */
	.game-piece{
		position:			absolute;
		top:				20px;
		left:				20px;
		background-image:	url('../img/pawn.png');
		background-repeat:	no-repeat;
		background-position:center;
		background-size:	contain;
		width:				30px;
		height:				30px;
		z-index:			100;
	}
	
/* Dice */
	.diceroll{
		border:				1px #777777 solid;
		margin:				10px;
		position:			relative;
		text-align:			right;
		height:				70px;
		overflow:			hidden;
	}
	
	.dicewait{
		z-index:			100;
		background-color:	rgba(180,180,180, 0.3);
		background-image:	url('../img/shake.png');
		background-repeat:	no-repeat;
		background-position:10px center;
		background-size:	60px;
		text-align:			center;
		line-height:		70px;
		height:				70px;
		width:				100%;
		position:			absolute;
		top:				0;
		left:				0;
		font-size:			18px;
		font-weight:		bold;
	}

	.dice{
		display:				inline-block;
		background-image:		url('../img/dice6.png');
		background-repeat:		no-repeat;
		background-position:	80% 0;
		background-size:		cover;
		background-color:		#FFFFFF;
		height:					60px;
		width:					60px;
		margin:					5px;
		border-radius:			6px;
	}
	
/* Cards */
	#game-card{
		border:					1px black solid;
		background-color:		#F0F0F0;
		background-image:		url('../img/tiles/quote.png');
		background-position:	center center;
		background-repeat:		no-repeat;
		background-size:		128px;
		display:				none;
		position:				fixed;
		z-index:				200;
		overflow:				hidden;
		text-align:				center;
		font-size:				28px;
		font-weight:			bold;
		color:					black;
		box-sizing:				border-box;
		padding:				20% 10px 0 10px;
		width:					100%;
		height:					100%;
		left:					0;
		top:					0;
	}
	